.services-list-card{
    height: 200px;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: 10px;
    border-radius: 8px;
}

.service-img{
    height: 50px;
    width: 50px;
}

.serviceList-order{
    height: 600px;
    width: 90%;
    margin-left: 35px;
    margin-top: 50px;
}
.services-margin{
    margin: 15px;
}

.btn-pending-style{
    border: none;
    height: 50px;
    width: 160px;
    background-color: #FFE3E3;
    color: #FF4545;
    border-radius: 8px;
    font-size: 20px;
}

.btn-done-style{
    border: none;
    height: 50px;
    width: 160px;
    background-color: #C6FFE0;
    color: #009444;
    border-radius: 8px;
    font-size: 20px;
}